include BUGS.txt
include android.txt
include README.txt
include TODO.txt
include LICENSE.txt
include CHANGES.txt
include ShadowWorld/victory.py
include ShadowWorld/ai.py
include ShadowWorld/data.py
include ShadowWorld/palette.py
include ShadowWorld/location.py
include ShadowWorld/vec.py
include ShadowWorld/__init__.py
include ShadowWorld/event.py
include ShadowWorld/image.py
include ShadowWorld/sound.py
include ShadowWorld/menu.py
include ShadowWorld/__main__.py
include ShadowWorld/resource.py
include ShadowWorld/util.py
include ShadowWorld/dialog.py
include ShadowWorld/phys.py
include ShadowWorld/controller.py
include ShadowWorld/consts.py
include ShadowWorld/text.py
include ShadowWorld/game.py
include ShadowWorld/entity.py
include pyweek_upload.py
include run_game.py
include setup.py
